* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: hsl(190, 60%, 88%);
  
  color: hsl(170, 30%, 30%);
 
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: hsl(165, 40%, 69%);
 
  color: hsl(50, 80%, 93%);

  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

nav ul li a {
  color: hsl(50, 80%, 93%);
  
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: hsl(170, 30%, 30%);

}

.video-section {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.video-section h1 {
 
  font-family: 'DM Serif Display', serif;
  margin-bottom: 1.5rem;
  
  font-size: 2.5rem;

  color: hsl(170, 30%, 30%);
  
  text-align: center;
}

.video-layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}


.video-container {
  flex: 2;
  background: hsl(170, 30%, 30%);

  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

video {
  width: 100%;
  display: block;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  background: hsla(170, 30%, 30%, 0.7);
  
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.control-btn {
  background: none;
  border: none;
  color: hsl(50, 80%, 93%);
 
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.control-btn:hover {
  color: hsl(190, 60%, 88%);

}

.progress-container {
  flex: 1;
  height: 6px;
  background: hsl(165, 40%, 69%);
  
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.progress {
  width: 0%;
  height: 100%;
  background: hsl(50, 80%, 93%);

  border-radius: 3px;
}

#volume {
  width: 100px;
}


.video-description {
  flex: 1;
  font-size: 1rem;
  color: hsl(170, 30%, 30%);
  display: flex;
  align-items: center;
 flex-direction: column;
 justify-content: center;

}

.video-description p {
  margin-bottom: 1rem;
}

p {
 
  font-family: 'Lato', sans-serif;
  margin-bottom: 1.5rem;
  
  color: hsl(170, 30%, 30%, 0.8);
  
  line-height: 1.8;
  font-size: 1.3rem;
  
}


footer {
  background: hsl(165, 40%, 69%);

  color: hsl(50, 80%, 93%);
 
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  border-top: 2px solid hsl(50, 80%, 93%);
  
}


@media(max-width:992px) {
  .video-layout {
    flex-direction: column;
  }

  .video-container {
    width: 100%;
  }
}

@media(max-width:480px) {
  .controls {
    flex-wrap: wrap;
    gap: 5px;
  }

  #volume {
    width: 70px;
  }

  .control-btn {
    font-size: 1rem;
  }
}